<!--{% extends 'base.html' %}
{% block content %}
 <div class = "login-box">

    <form method = "post" action ="">
        <option id = "{{w}}" value="{{ w.to_string }}">{{ w.to_string }}</option>
    <br>
         <p> AudioBoard predicted your #{{current}} Waveform </p>
               <p>{{prediction}}</p>
               <p> Is this correct?</p>
    YES <input type="radio" name ="success" value="yes"checked="checked">
    NO <input type="radio"  name = "success" value="no">
    <input type="submit" name="submit" value="submit">
    </form>
 </div>
{% endblock %}-->