{% extends 'base.html' %}
{% block content %}
{% if session.logged_in %}
<!--list of previous waveforms-->
        <div class = "waveform-display">
            {% if waveforms is not none %}
            <h1>Previous Waveforms:</h1>
            {% for w in waveforms %}
            <!--we need a way to reference these waaveforms-->
                <p class = "error">Your #{{loop.index}} {{w.to_string()}}</p>
                <br>
            {% endfor %}
    {%else%}
        <h1>AudioBoard has not analyzed any Waveforms yet</h1>
    {% endif %}
{%else%}
    </div>
<section class ="intro">
    <div class = "inner">
        <div class = "login-box">
            <h1>Welcome to AudioBoard</h1>
            <a class = "introbtn" href="{{ url_for('registrar')}}">Get Started</a>
        </div>
    </div>
</section>

{%endif%}
{% endblock %}

