
{% extends 'base.html' %}

{% block title %}Game Board {{ super() }}{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
    <div class="login-box">
    <img src="{{ url_for('static', filename='avatar.png') }}" class="avatar">
        <h1>Login</h1>
          {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
            <form method = "post" action ="">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" value="{{ request.form.username }}" >
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" value="{{ request.form.password }}">
            <input type="submit" name="submit" value="Login">
            </form>

        </div>

{% endblock %}